* {
    display: flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
header {
    font-weight: 500;
    font-size: larger;
}

.newpwd {
    font-size: medium;
}