@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    width: 610px;
}

.grid {
    width: 610px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: solid 1px #000;
    width: 200px;
    height: 200px;
}

.mole {
    background-color: cadetblue;
    /* could use a nice background-image next time */
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 16px;
    width: 50vw;
    height: 40px;
    background: yellow;
}